<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.atenstad.hackerspacedoor">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--activity android:name=".AppMainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-->
        
        <service android:name=".NotificationHandler">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".AppSettingsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".WidgetSmallActivity"
            android:icon="@drawable/logo_small_green"
            android:label="Liten">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.STATUS_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.BUTTON_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small" />
        </receiver>
        <receiver
            android:name=".WidgetLargeActivity"
            android:icon="@drawable/logo_green"
            android:label="Stor">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.STATUS_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.BUTTON_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_large" />
        </receiver>
        <receiver
            android:name=".WidgetBgLargeActivity"
            android:icon="@drawable/logo_bg_green"
            android:label="Stor med bakgrunn">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.STATUS_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.BUTTON_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_large_bg" />
        </receiver>
        <receiver
            android:name=".WidgetWhiteLargeActivity"
            android:icon="@drawable/logo_white_green"
            android:label="Stor hvit">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.STATUS_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.BUTTON_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_white_large" />
        </receiver>
        <receiver
            android:name=".WidgetWhiteSmallActivity"
            android:icon="@drawable/logo_white_small_green"
            android:label="Liten hvit">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.STATUS_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.BUTTON_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_white_small" />
        </receiver>
        <receiver
            android:name=".WidgetBgSmallActivity"
            android:label="Liten med bakgrunn">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.STATUS_UPDATE" />
                <action android:name="com.atenstad.hackerspacedoor.BUTTON_CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_small_bg" />
        </receiver>

    </application>

</manifest>
